@import url(normalize.css);

/* -------------------- GLOBAL DEFAULTS */

body{
    background-color: white;
   font-family: Arial, Helvetica, sans-serif; 

}

img{ max-width: 100%;

}

/* -------------------- VARIABLES */



/* -------------------- HEADINGS AND TYPE */


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: black
    

}

p {
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
line-height: 1.5em;

}

/* -------------------- LAYOUTS */
.layout-wide {
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}

/* -------------------- HEADER */
header .layout-wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}


.header-text {
    color:red;
font-family: Arial, Helvetica, sans-serif;
font-size: 2em;
font-weight: bold;
padding-top: 30px;
padding-bottom: 40px;
}



/* -------------------- NAVIGATION */

.nav-prompt {
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: auto;
    background-color: transparent;
    border:none;
    

}

.nav-prompt:hover {
    color: red;
 text-decoration: underline;
}


.main-nav {
    list-style: none;
    padding-left: 0%;
    display: none;
    text-align: right;

}

.main-nav.open {
    display: block;


}

.main-nav a{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: none;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.main-nav a:hover {
 background-color: transparent;
 color: red;
 text-decoration: underline;

}


@media screen and (min-width:800px){
   

}
    

/* -------------------- FOOTER */

footer { text-align: center;

}

/* -------------------- MODULES */

.item {
    margin-bottom: 50px;

}


/** main 2 col thing */

@media screen and (min-width:600px) {


    .content-item {
        grid-template-columns: 1fr 1fr;
    }
    .text-module {
        padding: 3%
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
   
  }
  .grid-item {
    background-color: white;
    border: 0px white;
    padding: 40px;
   
    font-size: 1.5em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
  }

  /*---------- help why sit above*/

  .grid-item2 {
      text-align: right;
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;

  }

/* -------------------- MEDIA SCREEN VIEWS*/


@media screen and (min-width:600px) {
    .first-row-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
     
    }
}

@media screen and (min-width:600px){
    .second-row-art {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

    }

}
    

